.img{
    text-align: center;
    margin-top: 15px;
}

.button ion-button{
    height: 50px;
    width: 90%;
    background-color: #e38692;
}

ion-input{
    background-color: rgb(244, 243, 243);
    border-radius: 10px;
}

ion-textarea{
    background-color: rgb(244, 243, 243);
    border-radius: 10px;
}

ion-select{
    color: red;
}