ion-col {
  border-radius: 35px !important;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
ion-card-subtitle{
  text-align: center;
  padding-left:10px;
  padding-right: 10px;
}
ion-icon {
  float: right;
}
ion-card{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ion-content{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

//--------------------------------------------------------------------------------------------------------------------------------//

.ion-text-end{
  text-align:end;
}
.left{
  float: left;
}
.ion-text-left{
  text-align: left;
}
.list-promo{
  text-align: center;
}
