ion-header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ion-icon{
  padding-right: 10px;
}

//--------------------------------------------------------------------------------------------------------------//

h1,h2,h3,h4,h5,h6{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div-icon,h5{
  text-align: center;
}
.nav-bar-img{
  width: 0;max-width: 150% !important;
}


