ion-card{
  text-align: center;
}
ion-segment-button{
  --color: var(--ion-color-dark);
  --color-checked:var(--ion-color-danger);
}
//---------------------------------------------------------------------------------------//@at-root

