<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Point and Voucher</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
          <ion-button color="light" slot="end" fill="clear" id="alignment-button">
            <ion-icon name="notifications-outline"></ion-icon>
           </ion-button>
           <ion-popover trigger="alignment-button" side="bottom">
             <ng-template>
               <ion-content>
                <ion-list>
                  <ion-item>
                   <ion-label>
                     Notification 1
                   </ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label>
                     Notification 2
                   </ion-label>
                 </ion-item>

                </ion-list>
               </ion-content>
             </ng-template>
           </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content color="flash-white">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          Total Point
        </ion-card-header>
        <ion-card-subtitle>
          12
        </ion-card-subtitle>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card href="../voucher-list/">
        <ion-card-header>
          Total Voucher
        </ion-card-header>
        <ion-card-subtitle>
          10
        </ion-card-subtitle>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-segment scrollable [(ngModel)]="point" mode="md">
  <ion-segment-button value="POINT HISTORY">
    <ion-label>POINT HISTORY</ion-label>
  </ion-segment-button>
  <ion-segment-button value="PROFILE">
    <ion-label>PROFILE</ion-label>
  </ion-segment-button>

</ion-segment>

<div [ngSwitch]="point">
  <div *ngSwitchCase="'POINT HISTORY'">
    <p style="color: black;">TEST POINT HISTORY test</p>
  </div>
  <div *ngSwitchCase="'PROFILE'">
    <p style="color: black;">TEST PROFILE 10</p>
  </div>
</div>
<div>
  <h6>Purchasing history</h6>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button fill="clear">
      <a href="./home/"><img class="nav-bar-img" src="../../assets/icon/home-black.png" style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./my-account/"><img class="nav-bar-img" src="../../assets/icon/myaccount-red.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./promotions/"><img class="nav-bar-img" src="../../assets/icon/promotions-black.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./location/"><img class="nav-bar-img" src="../../assets/icon/location-black.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
  </ion-toolbar>


  </ion-footer>
