h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
}

.member-card{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  

}

ion-grid{
    border-radius: 25px;  
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
        border-radius: 10px;
        background-color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        padding-top:2px;
        padding-bottom: 8%;
        margin-bottom: 10%;
}

.card-detail{
    border-radius: 5px;
    background-color: #ee7a7a;
}

ion-segment-button{

    --indicator-box-shadow:transparent !important;
    border-radius: 2rem !important;
    padding: 0 0.2em;
    margin: 0.5em;
    --background: white;
    --color: #ea5568;
    --background-checked: linear-gradient(to right, #eb445a, #e38692) !important;
    --color-checked:white;
    --indicator-color: transparent !important;

}

