<ion-header>
  <ion-toolbar color="danger">
    <ion-title>My Account</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
          <ion-button color="light" slot="end" fill="clear" id="alignment-button">
            <ion-icon name="notifications-outline"></ion-icon>
           </ion-button>
           <ion-popover trigger="alignment-button" side="bottom">
             <ng-template>
               <ion-content>
                <ion-list>
                  <ion-item>
                   <ion-label>
                     Notification 1
                   </ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label>
                     Notification 2
                   </ion-label>
                 </ion-item>

                </ion-list>
               </ion-content>
             </ng-template>
           </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content color="flash-white">
  <ion-segment scrollable [(ngModel)]="account" mode="md">
    <ion-segment-button value="MEMBER E-CARD">
      <ion-label>MEMBER E-CARD</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DETAIL">
      <ion-label>DETAIL</ion-label>
    </ion-segment-button>

  </ion-segment>

  <div [ngSwitch]="account">
    <div *ngSwitchDefault="'MEMBER E-CARD'">
      <div style="margin-bottom:20px">

      </div>
      <div style="margin-left: 10%; margin-right: 10%;">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="../../assets/images/sample-logo.png" alt="" style="height: 60px;width:60px;"><br>
            <span style="font-family: Bahnschrift SemiBold;">Company Name</span>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <ion-col class="ion-text-center">
            <img style="border-radius: 45px; width: 30vw;height: 30vw;" src="../../assets/images/profile-picture.png" alt="">
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 2%;">
          <ion-col class="ion-text-center">
            <h5>
              <span style="text-transform: uppercase; font-family: Nirmala UI;">ALI BABA</span>
            </h5>

          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <ion-col class="ion-text-center">
          <span style="font-family: MV Boli">Member Card</span>
          </ion-col>
        </ion-row>


        <div class="card-detail">
        <!--<ion-row style="background-color: #F7B5CD;">-->
          <ion-row style="color:black!important;">
            <ion-col size="5">
              <span style="font-size: 3.5vw;font-weight: bold;">Phone Number</span>
            </ion-col>
            <ion-col>
              <span style="font-size: 3.5vw;">: 0123456789</span>
            </ion-col>
          </ion-row>
          <ion-row style="color:black!important;">
            <ion-col size="5">
              <span style="font-size: 3.5vw;font-weight: bold;">Email</span>
            </ion-col>
            <ion-col>
              <span style="font-size: 3.5vw; word-wrap: break-word;">: alibaba@gmail.com</span>
            </ion-col>
          </ion-row>
        </div>
          <!--</ion-row>-->
          <ion-row style="margin-top: 10%;">
          <ion-col class="ion-text-center">
            <img src ="../../assets/images/barcode.png" alt="" style="height:50px">
          </ion-col>
        </ion-row>

      </ion-grid>
      </div>
    </div>
    <div *ngSwitchCase="'DETAIL'">
      <p style="color: black;">TEST DETAIL</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button fill="clear">
      <a href="./home/"><img class="nav-bar-img" src="../../assets/icon/home-black.png" style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./my-account/"><img class="nav-bar-img" src="../../assets/icon/myaccount-red.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./promotions/"><img class="nav-bar-img" src="../../assets/icon/promotions-black.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
    <ion-button fill="clear">
      <a href="./location/"><img class="nav-bar-img" src="../../assets/icon/location-black.png"  style="height: 45px; width: 50px;" alt=""></a>
    </ion-button>
  </ion-toolbar>


  </ion-footer>
